simple-slurm==0.2.7
spandrel==0.3.4
tqdm==4.66.5
click==8.1.7
onnx==1.16.2
onnxruntime==1.18.1
onnxruntime-gpu --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
environs==11.0.0